/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  */
* {
  box-sizing: border-box;
}

.wrap {
  width: 1024px;
  margin: 0 auto;
}

/* layout */
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 24px 0 42px;
  width: 1024px;
  /* 固定在上面 */
  position: fixed;
  z-index: 30;
}

.header h1 a {
  display: block;
  width: 170px;
  height: 36px;
  background: url('../images/header_logo.png');
  /* image as h1 */
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-menu li a {
  display: block;
  text-decoration: none;
  margin-right: 19px;
  padding: 32px 16px 24px;
  border-bottom: 8px solid transparent;
  font-size: 16px;
  color: #fff;
}

.header-menu li a:hover {
  color: #00cc99;
  border-bottom: 8px solid #00cc99;
}

/* footer */
.footer {
  background: #323228;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 42px;
}

.footer-logo-box p {
  text-align: right;
  font-size: 16px;
  color: #9b9b9b;
}

.footer-menu {
  display: flex;
  align-items: center;
}

.footer-menu li a {
  display: block;
  padding: 50px 0;
  margin-right: 22px;
}

/* index.html */
/* home-banner */
.home-banner {
  position: relative;
  background: url('../images/banner_1.png');
  background-size: cover;
  background-position: left center;
  height: 563px;
}

.home-banner-titlebox {
  position: absolute;
  top: 185px;
  left: 42px;
}

.home-banner h2 {
  margin-bottom: 58px;
  color: #00cc99;
  font-size: 44px;
  line-height: 1.77;
  font-weight: bold;
}

.home-banner h2 span {
  color: #ffffff;
}

.home-banner .btn {
  color: #fff;
  background: #00cc99;
  border-radius: 5px;
  padding: 18px 36px 17px 41px;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.home-banner .btn:hover {
  transform: scale(1.05, 1.05);
}

/* home-course */
.home-course {
  padding: 60px 44px 55px;
}

.home-course-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.home-course h2 {
  display: inline-block;
  color: #00cc99;
  font-size: 32px;
  margin-right: 16px;
  font-weight: bold;
}

.home-course p {
  display: inline-block;
  color: #d0d0d0;
  font-size: 19px;
}

.home-course-header .btn {
  color: #00cc99;
  border: 3px solid #00cc99;
  border-radius: 5px;
  padding: 6px 11px 7px 15px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.home-course-header .btn:hover {
  background: #00cc99;
  color: #fff;
}

.home-course-content {
  display: flex;
  justify-content: space-between;
}

.home-course-item {
  width: 300px;
  padding: 26px 21px 30px 17px;
  box-shadow: 0 2px 5px gray;
}

.home-course-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
}

.home-course-item h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.home-course-item p {
  color: #afafaf;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  font-weight: bold;
}
/* home-compareTable */
.home-compareTable {
  margin-bottom: 60px;
  padding: 0 42px;
}

.home-compareTable-header {
  display: flex;
  align-items: baseline;
}

.home-compareTable h2 {
  color: #00cc99;
  font-size: 34px;
  margin-bottom: 32px;
  margin-right: 20px;
  font-weight: bold;
}

.home-compareTable p {
  font-size: 19px;
  font-weight: bold;
  color: #b6b6b6;
}

.compareTable {
  width: 943px;
  font-size: 16px;
  margin: 0 auto;
}

.compareTable tr:first-child {
  background: #ebebeb;
}

.compareTable .mark {
  color: #33d6ad;
}

.compareTable th,
.compareTable td {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}
/* home-nextOne */
.home-nextone {
  background: #ebebeb;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 140px 44px 60px;
}

.home-nextone h2 {
  font-size: 28px;
  line-height: 60px;
  font-weight: bold;
}

.home-nextone form {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-nextone form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 17px 21px;
  font-size: 19px;
  color: #9b9b9b;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
}

.home-nextone form .btn {
  background: #00cc99;
  padding: 17px 45px 16px 41px;
  color: #fff;
  font-size: 21px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.home-nextone form .btn:hover {
  transform: scale(1.05, 1.05);
}

/* course */
/* course-banner */
.course-banner {
  position: relative;
  background: url('../images/banner_2.png');
  background-size: cover;
  background-position: left center;
  height: 560px;
}
.course-banner-titlebox {
  position: absolute;
  top: 187px;
  left: 37px;
}
.course-banner-titlebox h2 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 18px;
}
.course-banner-titlebox p {
  color: #00cc99;
  font-size: 24px;
  margin-bottom: 59px;
}

.course-banner-titlebox .btn {
  background: #00cc99;
  color: #fff;
  padding: 18px 35px 16px 39px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s;
}

.course-banner-titlebox .btn:hover {
  transform: scale(1.05, 1.05);
}

.course-banner-imgbox {
  position: absolute;
  top: 118px;
  right: 59px;
}

.course-banner-imgbox img {
  margin-right: 33px;
}
.course-banner-imgbox img:last-child {
  margin-right: 0;
}

/* course-content */
.course-content {
  margin: 0 auto;
  width: 621px;
  padding: 60px 0;
}

/* course-teacher */
.course-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.course-teacher h2 {
  font-size: 32px;
  line-height: 1.5;
  font-weight: bold;
}

.course-teacher h2 span {
  color: #00cc99;
}

.course-teacher ul {
  list-style: disc;
  color: #afafaf;
}

.course-teacher ul li {
  padding-left: 33px;
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* course-special */
.course-special {
  margin-bottom: 60px;
}

.course-special-header {
  display: flex;
  align-items: baseline;
}

.course-special-header h2 {
  color: #00cc99;
  font-size: 32px;
  font-weight: bold;
  margin-right: 18px;
  margin-bottom: 32px;
}

.course-special-header p {
  color: #9b9b9b;
  font-size: 19px;
  font-weight: bold;
}

.course-special ol {
  padding-left: 16px;
  list-style: decimal;
  font-weight: bold;
}

.course-special ol li {
  padding-left: 25px;
  line-height: 22px;
  font-size: 15px;
  text-align: justify;
}
/* course-outline */
.course-outline-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 32px;
}

.course-outline-header h2 {
  color: #00cc99;
  font-size: 34px;
  font-weight: bold;
  margin-right: 15px;
}

.course-outline-header p {
  color: #9b9b9b;
  font-size: 19px;
  font-weight: bold;
}

.outlineTable {
  width: 100%;
  font-size: 16px;
}

.outlineTable tr:nth-child(2n-1) {
  background: #ebebeb;
}

.outlineTable tr:nth-child(2n) {
  background: #fff;
  color: #9b9b9b;
}

.outlineTable th {
  text-align: left;
  font-weight: bold;
  padding: 20px 0 17px 39px;
}
/* course-nextone */
.course-nextone {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #ebebeb;
  padding: 157px 202px 154px 203px;
}

.course-nextone h2 {
  font-size: 30px;
  line-height: 2;
  font-weight: bold;
}

.course-nextone .btn {
  background: #00cc99;
  color: #fff;
  padding: 18px 35px 17px 41px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  margin-bottom: 6px;
  transition: all 0.5s;
}

.course-nextone .btn:hover {
  transform: scale(1.05, 1.05);
}
/* faq */
/* faq-banner */
.faq-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 76px;
  height: 561px;
  background: url('../images/banner_3.png');
  background-size: cover;
  background-position: center center;
}

.faq-banner h2 {
  color: #fff;
  font-size: 46px;
  margin-bottom: 18px;
  font-weight: bold;
}

.faq-banner p {
  color: #00cc99;
  font-size: 25px;
  margin-bottom: 52px;
}

.faq-banner .searchbox {
  position: relative;
  width: 620px;
}

.searchbox input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  height: 52px;
  font-size: 20px;
}

.searchbox img {
  position: absolute;
  top: 12px;
  right: 13px;
  cursor: pointer;
}

/* faq-content */
.faq-content {
  width: 780px;
  margin: 60px auto;
}

/* faq-common、faq-how-to-pay、faq-refund */
.faq-block {
  margin-bottom: 62px;
}

.faq-block-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 35px;
}

.faq-block-header h2 {
  color: #00cc99;
  font-size: 32px;
  font-weight: bold;
  margin-right: 23px;
}

.faq-block .faq-block-header p {
  color: #9b9b9b;
  font-size: 19px;
  font-weight: bold;
}

.faq-block-item {
  margin-bottom: 36px;
}

.faq-block-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.faq-block-item p {
  color: #9b9b9b;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}

.faq-block-item p.title {
  color: #000;
}

.faq-block-item p span {
  color: #00cc99;
}

.faq-block-item ol,
.faq-block-item ul {
  color: #9b9b9b;
  font-weight: bold;
}

.faq-block-item ol {
  list-style: decimal;
  padding-left: 38px;
}

.faq-block-item ol li {
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
}

.faq-block-item ul {
  list-style: disc;
  padding-left: 36px;
}

.faq-block-item ul li {
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
}
/* faq-nextone */
.faq-nextone {
  background: #ebebeb;
  padding: 120px 42px 60px;
  display: flex;
  justify-content: space-between;
}

.faq-nextone h2 {
  font-size: 30px;
  line-height: 60px;
  font-weight: bold;
}

.faq-nextone form {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.faq-nextone form input,
.faq-nextone form textarea {
  font-size: 19px;
  padding: 17px 22px;
  width: 100%;
  font-weight: bold;
  color: #9b9b9b;
  border: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.faq-nextone form textarea {
  height: 202px;
}

.faq-nextone form .btn {
  background: #00cc99;
  color: #fff;
  padding: 17px 45px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.faq-nextone form .btn:hover {
  transform: scale(1.05, 1.05);
}
